# Build artifacts
build/
.gradle/
*.apk
*.aab
*.ap_
*.dex

# Local config
local.properties

# IDE
*.iml
.idea/
captures/

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore

# Native build
.cxx/
.externalNativeBuild/

# Temp files
*.zip
*.log